.button {
    background: $Colour-orange;
    color: $Colour-dark-blue;
    width: 320px;
    height: 51px;
    border-radius: 50px;
    font-family: $Font-family;
    font-size: 20px;
    margin-top: 55px;
    display: flex;
    align-items: center;
}