.container-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-update{
    display: grid;
    grid-template-columns: repeat(2, 470px);
    grid-gap: 8px;
    justify-content: center;
    padding-top: 20px;
    line-height: 200%
}

.container-update input{
    width: 43.3rem;
    height: 4.1rem;
    border: 1px solid $Colour-orange;
    border-radius: 0.5rem;
    line-height: 2.2rem;
    outline: none;
}

label{
    font-size: 1.3rem;
}

.container-buttom{
width: 100px;
 padding-top: 10%;
 margin:4px;
}

.form-button{
    width: 10.5rem;
    height: 4.1rem;
    border-radius: 2.5rem;
    background: #FB8500;
    color: white;
}

