$color-footer: #298ff5;
$color-text: #00008b;
$color-title: #023047;

.HeaderHome{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $color-footer;
    font-size: 1.5rem;
    font-weight: bold;
}

.ContainerHome{
    display: flex;
    position: relative;
    color: white;
    font-weight: bold;
}

.ContainerHome p{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.Home__titleleft{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: $color-title;
    float: left;
    top: 0;
    left: 25%;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
}


.Home__titleright{
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: $color-title;
    top: 0;
    left: 0;
    right: 25%;
    bottom: 0;
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
}

.Header__title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Home__logohome{
    width: 100%;
    height: 350px;
    object-fit: cover
}

.DetailsHome{
    display: grid;
    grid-template-columns: repeat(2, 350px);
    margin: auto;
    justify-content: center;
    grid-gap: 200px;
}

.Details__right{
    align-items: center;
    margin-left: 30px;
}

li{
    line-height: 1.8;
    color: $color-text;
}

ul{
    font-size: 1.5rem;
}

h1{
    padding-bottom: 10px;
}

