.regular-style{
    border: none;
    border-bottom: 1px solid $Colour-orange;
    background: transparent;
    outline: none;
    height: 40px;
    color: $Colour-clear-blue;
    font-family: $Font-family;
    font-size: 14px;
}