.Tanks{
    width: 144rem;
    height: 77.7rem;
    display: flex;
    justify-content: center;
    gap: 9.3rem;
    &_content{
        border: 0.1rem solid $Colour-orange;
        width: 24.7rem;
        height: 53.1rem;
        top: 22.1rem;
        left: 25.7rem;
    }
    &_title{
        font-family: $Font-family; 
        color: $Colour-dark-blue;  
        font-size: 2.4rem;
    }
    &_button{      
      background: $Colour-orange;
      margin: 1rem;
      width: 20.7rem;
      height: 12.2rem;
      top: 24.1rem;
      left: 277px;
      border:none;
      border-radius: 2rem;
      }
    &_create{
        margin-top: 2.5rem;
        background: $Colour-orange;
        width: 24.6rem;
        height: 5.1rem;
        top: 7.7rem;
        border-radius: 5rem;
    }
}