.Tanks{
    height: 777px;
    display: flex;
    justify-content: center;
    gap: 21px;
    &_content{
        border: 1px solid $Colour-orange;
        width: 453px;
        height: 531px;
        top: 221px;
        left: 257px;
    }
    &_title{
        font-family: $Font-family; 
        color: $Colour-dark-blue;  
        font-size: 24px;
    }
    &_button{      
      background: $Colour-orange;
      text-align: left;
      padding: 15px;
      margin: 18px;
      width: 414px;
      height: 102px;
      top: 241px;
      left: 277px;
      border:none;
      border-radius: 20px;
      color: white;
    }
}