.update-form{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.update__input{
    width: 43.3rem;
    height: 4.1rem;
    border: 1px solid $Colour-orange;
    border-radius: 2.5rem;
    line-height: 2.3rem;
    outline: none;
}

.update__button{
    width: 10.5rem;
    height: 4.1rem;
    border-radius: 0.5rem;
    background: $Colour-orange;
    color: white;

}

::placeholder{
    padding-left: 10px;
}
